= render :partial => "shared/top_menu"

#title
  #subject_preferences
    #sub_title
      Jobs Available
  #jobs_list.center
    = render :partial => "users/job_list"
  .clear

:javascript
  startJobListRefresher(#{@user.id})